<br>
<%= stylesheet_link_tag "applications", "data-turbo-track": "reload" %>
    <%= search_form_for(@q, url: "/trainings", method: :get) do |f| %>
        <div class="container-search">
            <%= f.search_field :username_cont, class: "field", :placeholder => "Nome do Usuário..." %>
            <%= image_submit_tag("search.png", class: "button-search") %>
        </div>
    <% end %>
