<h2 class="title is-4">Treinos</h2>
<table class="table">
  <thead>
    <th>Frango:</th>
    <th>Exercício:</th>
    <th>Peso:</th>
  </thead>
  <tbody>
    <% @trainings.each do |t| %>
    <%  @user_name = User.find(t.user_id) %>
    <tr>
      <%= link_to "Alterar", new_training_path(t.id)%>
      <td><%= @user_name.username %></td>
      <td><%= t.name_training %></td>
      <td><%= t.weigth %></td>
    </tr>
    <% end %>
  </tbody>
</table>
