<h2 class="title is-4">Treinos</h2>
<table class="table">
  <thead>
    <th>Frango:</th>
    <th>Exercício:</th>
    <th>Peso Novo:</th>
    <% @current_weigth.each do %>
    <th>Peso Anterior:</th>
    <% end %>
  </thead>
  <tbody>
    <% @trainings.each do |t| %>
    <%  @user_name = User.find(t.user_id) %>
    <tr>
      <td><%= @user_name.username %></td>
      <td><%= t.name_training %></td>
      <td><%= t.weigth %></td>
      <% @current_weigth.each do |w| %>
      <td><%= w.weigth %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
