<h1 class="title">A princesa deseja adicionar mais algum treino?</h1>
<div class="nav-bar-item">
    <%= link_to "Sim", new_training_path, class: "button" %>
    <%= link_to "Não", root_path, class: "button" %>
</div>
