<!DOCTYPE html>
<html>
  <body>
    <div class="form">
      <%= form_tag new_training_path, :controller => 'trainings', :action => 'new', :method => 'get'  do %>
        <div class="box-form">
          <div class="form-content">
            <h3 class="titulo">Adicionar Novo Treino</h3>
            <div class="form-input">
              <label for="routine"> Qual a Rotina? <span>*</span></label>
              <%= select_tag "routine", options_for_select(Routine.all.map { |r| [r.routine_select, r.id] }, { required: true, include_blank: false}), class: "select_form" %>
            </div>
            <div class="actions">
              <%= submit_tag ("Avançar"), class: "button_login" %>
            </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
