<%= form_tag new_training_path, :controller => 'trainings', :action => 'new', :method => 'get'  do %>
   <div class="field">
   <%= label_tag(:routines, "Selecione a rotina", class: "label")  %>
      <%= select_tag "routine", options_for_select(Routine.all.map { |r| [r.routine_select, r.id] }, { required: true, include_blank: false}), class: "minimal" %>
   </div>
   <div class="field">
      <%= submit_tag ("Avançar"), class: "button is-link" %>
   </div>

<% end %>
