<%= form_for :routine, url: routines_path do |form| %>
    <div class="field">
      <%= form.label :routine_select, "Rotina", class: "label" %>
      <%= form.text_field :routine_select, step: :any %>
    </div>
      <%= form.submit "Salvar", class: "button is-link" %>
    </div>
<% end %>
