<!DOCTYPE html>
<html>
  <body>
    <div class="form">
      <%= form_for :measure, url: current_measures_path do |form| %>
        <div class="box-form">
          <div class="form-content">
            <h3 class="titulo">Adicionar Nova Medida</h3>
            <div class="form-input">
              <label for="measure_id"> Área <span>*</span></label>
              <%= form.select(:measure_id, Measure.where(user_id: current_user).map { |v| [ v.name_muscle, v.id ] },{}, {class:'select_form'}) %>
            </div>
            <div class="form-input">
                <label for="new_measure"> Medida <span>*</span></label>
                <%= form.number_field :new_measure, autofocus: true, autocomplete: "new_measure", class:'form_login' %>
            </div>
            <div class="actions">
              <%= form.submit 'Salvar', class:'button_login' %>
            </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
