<!DOCTYPE html>
<html>
    <body class="body">
        <form>
            <section id="content">
                <h3>Regras</h3>
                <p>Aqui está listado algumas das regras que seria bom ser seguidas:</p>

                <ul>
                    <li>Comprometimento com o gerenciamento dos seus resultados</li>
                    <li>Não mentir pesos (supino com 900kg) </li>
                    <li>Não zuar o FAQ do site</li>
                    <li>Não postar merda no site</li>
                    <li>Não tentar derrubar o site, pls</li>
                </ul>
            </section>
        </form>
    </body>
</html>
