<!DOCTYPE html>
<html>
    <body class="body">
        <form>
            <section id="content">
                <p>O Projeto Olympia é um site cirado para podermos postar nossa evolução, dicas, indicar musicas e playlist's. O projeto consiste em 3 meses de foco intenso na academia, alimentação e dedicação a tudo que possa oferecer resultados positivos. Aqui iremos mostrar os treinos que faremos diariamente juntamente com as medidas, assim tendo maior noção da evolução que estamos tendo.
                Recomendamos ler as regras no meunu "SOBRE" para não ter erros!
                Ele esta sendo criado por Mac_Raff & Vmp e vamos estar sempre abertos a novas ideias para a melhoria do site e do projeto! #Soldados do Breier </p>
            </section>
        </form>
    </body>
</html>
