/* index.html.erb */
.fade-in-video {
  opacity: 0;
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.body{
  background-color: #4b4b4b;
  background-image: url(fundo1.jpg)
}

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica';
  }

  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  /* Bar de cima */

  .nav{
    display: flex;
    justify-content: space-between;
  }

  .navbar {
    background-color: #000618;
    color: white;
    text-align: left;

  }

  .navbar ul {
    display: inline-block;
    list-style: none;
    align-self: center;
  }

  .navbar ul li  {
    position: relative;
    display: inline-block;
    align-self: center;
    width: 120px;
    margin: none;
    padding: 20px;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
  }


  nav ul li:hover > .submenu{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .image_logo{
    inline-size: -webkit-fill-available;
  }

  /* sub menu */
  .html{
    overflow-x: hidden;
  }

  .submenu{
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #000618;
    transition: all 0.3s ease;
    transform: translateY(-10px);
  }

  nav ul li:hover .submenu ul{
    display: block;
    border-radius: 0px;
    transform: translateY(0);
  }

  .submenu li {
    display: block;
  }

  .submenu li a {
    padding: 5px 10px;
    text-decoration: none;
  }

  nav ul li:hover .submenu ul li {
    width: 150px;
    text-align: center;
    border-radius: 5px;
    transition: 0.7s;
  }

  nav ul li:hover .submenu ul li:hover{
    background-color: rgb(60, 57, 57);
  }

  /* Sub menu do sub menu */

  .submenu2 {
    display: none;
    border-radius: 10px;

  }

  .hover-sub:hover .submenu2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
    background-color:  #000618d0;
  }

  /* campo de avisos */

  #content {
    background-color: rgba(0, 0, 0, 0.514);
    margin: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-right: 600px;
  }

  #content p{
    margin-left: 15px;
    padding-bottom: 10px;
    font-size: xx-large;
  }

  #content h3{
    padding : 15px;
    font-size: xx-large;
  }

  #content li{
    margin-left: 30px;
    font-size: xx-large;
  }

  /* Campos para relatar erros */

.section2 {
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
  margin-right: 600px;
}

.section2 input{
  padding: 15px;
  border-style: none;
  border-radius: 15px;
  background-color: #202225;
  outline: none;
}

.section2 textarea{
  padding: 6px;
  border-style: none;
  border-radius: 15px;
  background-color: #202225;
  outline: none;
  margin-bottom: -17px;
}

.section2 button{
  padding: 15px;
  border-style: none;
  border-radius: 15px;
  background-color: #202225;

}

/* Direitos */

footer {
  padding: 20px;
  margin-top: 370px;
  text-align: right;
}

footer p{
  text-decoration: none;
  color: white;
}

.icon {
  font-size: 24px;
}

.controls {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 12px;
  float: left;
  margin-left: 15px;
  margin-right: 300px;
}

.controls button {
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  background-color: #346fc7;
  color: white;
}

.controls input {
  align-items: right;
}

.controls img {
    width: 10%;
    height: 10%;
    z-index: -1;
}

.controls h2 {
  margin-left: 15px;

  padding-bottom: 5px;
  color: white;
}


/* Login */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600&display=swap');

.form{
  background-image: url(wallpaper.jpeg);
  text-align: -webkit-center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;

}

p{
    color: #b9bbbe;
    font-size: 16px;
}

.box-form{
    background-color: #37393f;
    padding: 32px;
    width: 784px;
    height: auto;
    font-size: 18px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 10px #0000003d;
    place-content: center;
}

.form-content{
    width: 60%;
}

.form-content .titulo{
    font-size: 30px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

.form-content .sub-titulo{
    text-align: center;
}

.form-content form{
    margin-top: 15px;
}

.form-content .form-input{
    margin-top: 20px;
}

.form-content label{
    color: #b9bbbe;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-content label span{
    color: #ed4245;
}

.button_login{
  background-color: #2d015f;
}
.form-content input{
    padding: 10px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: none;
    color: #dcdeee;
    margin-top: 8px;
}

.form-content .forget-password-link{
    margin-top: 4px;

}

.form-content .forget-password-link a{
    color: #00aff4;
    font-size: 14px;
    font-weight: 500;
}

.form-content button{
    height: 40px;
    width: 100%;
    padding: 2px 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #5865f2;
    cursor: pointer;
}

.form-content .register-link{
    margin-top: 13px;
    font-size: 14px;
}

.form-content .register-link a {
    color:#00aff4 ;
}
.form_login{
  background-color: #202225;
}

.links{
color: #00aff4;
}


select_form {
  padding: 2px 16px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #dcdeee;
  margin-top: 13px;
  appearance: none;
  background-color: #202225;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

.select_form {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  width: 100%;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #202225;
  color: #dcdeee;
}
.select_form select_form,
.select_form::after {
  grid-area: select;
}
.select_form:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  background-color: #202225;
  color: #dcdeee;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select_form:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}


/* Tabelas */

.tabelas_treino {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tabelas_treino td, .tabelas_treino th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabelas_treino tr:nth-child(even){background-color: #f2f2f2;}

.tabelas_treino tr:hover {background-color: #ddd;}

.tabelas_treino th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #292929;
  color: white;
}
