<!DOCTYPE html>
<html>
  <body>
    <div class="form">
        <div class="box-form">
            <div class="form-content">
                <h3 class="titulo">A Princesa deseja adicionar uma nova medida?</h3>
                <div class="form-input">
                    <%= link_to "Sim", new_measure_path, class: 'button-looper' %>
                    <br>
                    <%= link_to "Não", measures_path, class: 'button-looper' %>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
